.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    visibility: hidden;
}


.popup_body{
    position: relative;
    width: 447px;
    height: 359px;
    left: 30%;
    top:20%;
    background-image: url(img/Mask\ Group.png);
    border-radius: 8px;
    background-color: #E5E5E5;
    opacity: 100%;
    visibility: hidden;
}


.popup_content h4{
    position: absolute;
    width: 395px;
    height: 50px;
    left: 26px;
    top: 30px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 124%;
    opacity: 100%;
}

.popup_content button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    position: absolute;
    width: 223px;
    height: 43px;
    left: 26px;
    top: 276px;
    background: #FFDB2D;
    border-radius: 8px;
    cursor: pointer;
}

.popup_content button span{
    position: static;
    width: 183px;
    left: 20px;
    top: 10px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.02em;
    flex: none;
}

.popup_close{
    position: absolute;
    left: 93.74%;
    right: 0%;
    top: 5.7px;
    bottom: 92.2%;
}



.name input{
    position: absolute;
    width: 330px;
    height: 43px;
    left: 26px;
    top: 120px;
    background: #F4F4F4;
    box-sizing: border-box;
    border-radius: 8px;  
    border: 1px solid #828282;
    outline:none;
}
 .name [placeholder]{
     padding-left: 10px;
 }

.name span{
    position: absolute;
    width: 142px;
    height: 17px;
    left: 219px;
    top: 164px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
}


.phone input{
    position: absolute;
    width: 330px;
    height: 43px;
    left: 26px;
    top: 193px;
    background: #F4F4F4;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
}

.phone input[placeholder]{
    padding: 10px;
}

.phone span{
    position: absolute;
    width: 142px;
    height: 17px;
    left: 219px;    
    top: 237px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
}


.popup:target{
    visibility: visible;
}

.message{
    position: absolute;
    width: 1147px;
    height: 333px;
    left: 95px;
    top: 169px;
    background-image: url(img/Rectangle\ 210.png);
    backdrop-filter: blur(15px);
    border-radius: 8px;
    text-align: center;
}

.message h1{
    position: absolute;
    width: 447px;
    height: 45px;
    left: 350px;
    top: 100px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 124%;
}

.message h4{
    position: absolute;
    width: 390px;
    height: 50px;
    left: 378px;
    top: 165px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 124%;
}

.message a{
    position: absolute;
    left: 95.82%;
    right: 1.74%;
    top: 6.01%;
    bottom: 85.59%;
}